<!DOCTYPE html>
<html>
<head>
    <title>Register | for booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<div class="container">
    <h2><b>Create Account</b></h2>

    <form method="POST">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <a href="/sign_in">Already have an account? Login</a>
</div>

</body>
</html>
